:root{
    --width-leftsidebar: 50px;
    --width-rightsidebar: 50px;
    --main-padding: 64px;

    --clr-pri: #FFFFFF; 
    --clr-sec: #FFFFFF; 
    --clr-acc: #3b3bab; 
    --clr-font-pri: #020202; 
    --clr-font-acc: #3b3bab; 

    --anim-trans: .1s;

    --selection-bkg: white; 
    --selection-color: white; 
}

* {
    transition: var(--anim-trans) color;
    transition: var(--anim-trans) background-color;

    ::selection {
        background-color: var(--selection-bkg); 
        color: var(--selection-color);
    }
}

#app-content {
    position: relative;
    /* display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr; */
    display: flex;
    flex-direction: column;
    padding: var(--main-padding);
    background-color: var(--clr-pri);
}

#header-nav {
    z-index: 2;
    position: fixed;
    top: 0;
    padding: 16px;
    width: calc(100% - (var(--main-padding)) * 2);
    background-color: var(--clr-pri);

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--main-padding);
    width: calc(100vw - (3 * (var(--width-leftsidebar))));

    gap: 16px;

    :nth-child(3) {
        margin-right: auto;
    }
}

.nav-link {
    position: relative;
    padding-bottom: 4px;
    z-index: 2;
    text-decoration: none;
    cursor: pointer;
    color: var(--clr-font-pri);

    :hover {
        transition: var(--anim-trans);
    }
    transition: var(--anim-trans);

    div {
        z-index: 1;
        position: absolute;
        border-bottom: solid 1px;
        width: 0;
        height: 100%;
        top: 0;
        transition: var(--anim-trans);
    }
}

.selected {
    div {
        width: 100%;
        transition: var(--anim-trans);
    }
}

.other-link {
    :hover {
        transition: var(--anim-trans);
    }
    transition: var(--anim-trans);
}

#main-content {
    padding-left: var(--width-leftsidebar);
    padding-right: var(--width-rightsidebar);
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fill, auto);

    max-width:1000px;
}

#left-sidebar {
    position: fixed;
    width: var(--width-leftsidebar);
    bottom: var(--main-padding);
    font-size: xx-large;

    #text-label {
        writing-mode: sideways-lr;
    }
}

#right-sidebar {
    position: fixed;
    justify-self: right;
    width: var(--width-rightsidebar);
    display: grid;
    grid-template-rows: repeat(auto-fill, auto);
    grid-template-columns: auto;
    bottom: var(--main-padding);
    
    button {
        aspect-ratio: 1/1;
    }
}

#about-section{
    min-height: 50vh;
    #title {
        font-size: larger;
    }    

    #name {
        font-size: xxx-large;
    }

    #subtitle{
        font-size: smaller; 
        margin-bottom: 32px;
    }

    img {
        float: left;
        margin-right: 16px;
        margin-top: 8px;
        max-width: 200px;
    }
}

/* GENERAL */

.tag {
    background-color: lightgray;
    width: auto; height: auto;
    border-radius: 8px;
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;

    font-size: small;
}

.tag-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, auto);
    grid-template-rows: auto;
}


.card-list {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fill, auto);

    padding: 16px;
    gap: 16px;
}


.card { 
    position: relative;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: auto;
    padding: 8px;
    gap: 8px;
    min-height: 150px;
    /* max-height: 150px; */
    text-decoration : none;
    z-index: 0;

    /* for detransition */
    color: rgba(0, 0, 0);
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
    border-top: 1px solid rgba(0, 0, 0, 0);
    transition: var(--anim-trans);
    
    * {
        transition: var(--anim-trans);
    }

    .link-arrow {
        transform: translate(0, 0); 
        transition: var(--anim-trans);
    }

    /* children */
    > div {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr auto;

        .title-group {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    }

    .tag-list {
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    .card-aside-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-aside-text {
        text-align: center;
    }
}

.card-list > .card:hover{
    color: rgba(0, 0, 0);
    background-color: rgba(255, 255, 255, .05);
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    border-top: 1px solid var(--clr-acc);
    transition: var(--anim-trans);

    .link-arrow {
        transform: translate(10%, -10%); 
        transition: var(--anim-trans);
    }
    
    h1 {
        transition: var(--anim-trans);
    }
}

.page-section {
    margin-top: 20vh;
    min-height: 50vh;

    .section-goto {
        display: flex;
        text-decoration: none;
        align-items: center;
        justify-content: flex-end;
        font-weight: bolder;
        gap: 8px;

        span {
            transition: var(--anim-trans);
        }
        transition: var(--anim-trans);
    }

    .section-goto:hover span {
        transform: translate(8px, 0);
        transition: var(--anim-trans);
    }
}

.look-at {
    position: relative;
    font-weight: bolder;
    text-decoration: none;
    transition: var(--anim-trans);

    a {
        transition: var(--anim-trans);
    }

    .caption {
        position: fixed;
        pointer-events: none;
        padding: 8px;
        font-weight: bold;
        
        max-width: 200px;

        border-radius: 4px;
        filter: opacity(1);
        transition: var(--anim-trans) filter;
    }

    .hidden {
        filter: opacity(0);
        transition: var(--anim-trans) filter;
    }
}

.dropdown {
    position: relative;

    .dropdown-target {
        cursor: pointer;
    }

    .dropdown-content {
        position: absolute;
        transform: translateX(-80%);
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(auto-fill, auto);
    }
}


.color-picker-list-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #f0f0f0;
    }
  
    p {
      margin: 0;
      padding-right: 10px;
    }
  
    .color-list {
      display: flex;
      align-items: center;
      gap: 3px;
  
      .color-display {
        width: 20px;
        height: 10px;
        border-radius: 8px;
        margin-right: 5px;
      }
    }
  }
  

/* PROJECTS */

#projects-section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    
    #main-content {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: (repeat(auto-fill, auto));    
    }

    #more-projects {
        text-align: end;
    }
}

.project-item-card {
    display: grid;
    grid-template-columns: auto auto;
}



/* EXPERIENCE */

#experience-section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fill, auto);
}

#experience-list {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fill, auto);
}
